{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container bg-white my-4 p-3">
    {{ form(registration_form) }}
</div>
{% endblock %}
